#自行选择CPU或CUDA版本的torch1.10.0
#pip3 install torch==1.10.0+cu113 torchvision==0.11.1+cu113 torchaudio===0.10.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
numpy==1.26.4
matplotlib==3.8.4
h5py==3.11.0
neptune-client==1.10.2
scikit-image==0.23.1
scikit-learn==1.4.2
einops==0.7.0
mne==1.6.1
jupyterlab